@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Play',sans-serif;
}

#title_container h1 {
  text-align: center;
  font-size: 2.7rem;
  margin: 1rem;
}
#playerName{
  padding-right: 1rem;
}

.scoreboard {
  max-height: 70px;
  min-height: 70px;
  max-width: 800px;
  min-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.score {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(17, 16, 16);
}
.score_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: rgb(17, 16, 16);
}
.score_items {
  display: flex;
}
#game_container {
  max-height: 450px;
  min-height: 450px;
  max-width: 800px;
  min-width: 800px;
  margin: auto;
  background-size: cover;
  background-image: url(./Images/witch-background.jpg);
  position: relative;
  overflow: hidden;
}

#character {
  position: absolute;
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  min-height: 70px;
  background-image: url(./Images/witch.svg);
  top: 150px;
  left: 20px;
}
#block {
  position: absolute;
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  min-height: 70px;
  background-size: cover;
  background-image: url(./Images/cactus.png);
  bottom: 60px;
  /* right: 0px; */
  animation: block 4s linear infinite;
}
@keyframes block {
  from {
    right: -70px;
  }
  to {
    right: 870px;
  }
}
